*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    height: 100%;
    width: 100%;
}

.donationform{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(185, 49, 49);
 height: 100vh;
 width: 100vw;

}

.donationcontainer2{
    display: flex;
    height: 70vh;
    width: 70vw;
    border: 1px solid black;
}

.donationimage{ 
    
    width: 30%;
    background-image: url(donation\ image.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
       border: 1px solid black;
   
}

.formsection{
    width: 80%;
  height: 100%;
    border: 1px solid black;
  
}

.formheading{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  height: 5vh;
  width: 100%;
}

.form{
    display: flex;
    justify-content: center;
    padding: 1rem;
     border: 1px solid black;
     height: 93%;
     width: 100%;
}

.form1{
    height: 60vh;
    width: 60%;
    border: 1px solid black;
}

/* form  name section */

.namesection{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap:0.3rem;
}

.name{
    font-size: 0.8rem;

   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.namein{
    padding-left: 1rem;
    height: 3.5vh;
    width: 25vw;
}

/* form phone section */


.phonesection{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 1.1rem;
    border: 1px solid black;
}

.phone{
     font-size: 0.8rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.phinput{
        padding-left: 1rem;
    height: 3.5vh;
    width: 25vw;
}



/* email  section */

.emailsection{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 0.2rem;
   margin-top: 1.1rem;
}

.email{
         font-size: 0.8rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.emailinput{
        padding-left: 1rem;
height: 3.5vh;
width: 25vw;
}


/* donate amount section */

.donateamountsection{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
     margin-top: 1.1rem;
    border: 1px solid black;
}
.amount{
             font-size: 0.8rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.donateamounts{
    display: flex;
  gap: 1rem;
    /* border: 1px solid black; */
    padding: 0.8rem;
}

.donationamount{
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgb(4, 130, 248);
    height: 3vh;
      width: 3vw;
      cursor: pointer;
      border-radius: 3.5px;
      transition: 0.2s ease-out;
}

.donationamount:hover{
    background-color: rgb(121, 196, 231)
}



/*  */
/* paymentmethod section */


.paymentmethods{
    display: flex;
    justify-content:safe;
    align-items: center;
    border: 1px solid black;
    gap: 0.8rem;
    margin-top: 1.1rem;

}

.phonepay{
    display: flex;
}


.paypal{
    display: flex;
}

/*  */
/* paymentdetails */


.paymentdetails{
    display: flex;
  flex-direction: column;
  gap: 0.2rem;
   margin-top: 1.1rem;
  border: 1px solid black;
}

.details{
             font-size: 0.8rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.paymentdetails input{
    height: 3vh;
    width: 25vw;
}