*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}

.Title{
    font-size: 25px;
   font-weight: bolder;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     animation-name: title1;
     animation-duration: 2s;
}


.name{
    position: relative;
    color: rgb(92, 87, 87);
    animation-name: title1;
    animation-duration: 2s;
}

@keyframes title1{
    from {
    left: -500%;
     
    }
    to {
       left: 0%;
    }

}

.name:hover{
    color: rgb(14, 11, 11);
}


.navbar{
    position: relative;
    animation-name:nav ;
    animation-duration: 2s;
}

@keyframes nav {
    from {
        left: -100%;
    }
    to{
        left: 0%;
    }
}


.navsection{
    margin-top: 1rem;
    display: flex;
justify-content: space-evenly;
align-items: center;
    max-width: 100vw;
    height: 10vh;
  
     background-color:  #ffffff;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

.navlist{
    position: relative;
    left: 20rem;
        display: flex;
    gap: 1.5rem;
    font-size: 19px;
    font-weight: bold;
   
}

.design{
    /* border: 1px solid black; */
    background-color: oklab(100% 0 -0.00011);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(39, 39, 39);
 padding: 0.5rem 0.5rem;
 border-radius: 5.1px ;
   transition: 0.2s  ease;
}

.design:hover{
    /* background-color: rgb(26, 25, 25); */
    color:  oklab(50.434999999999995% 0.00956 -0.2131);
}


/* main section */

.container1{

    display: grid;
    height: 60vh;
    margin-top: 0.9rem;
    grid-template-columns: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    padding: 2rem;
}



.donatesection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
    background-color: rgb(245, 245, 232);
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid rgb(54, 50, 28);
}
.image{
background-image: url(image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.description{
    width: 70%;

}

#gridsection{
    border-radius: 10px 10px  ;
}


.donate{
    background-color: #ffffff;
    padding: 1rem 2rem;
    /* height: 5%; */
    /* width: 15%; */
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.2rem;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #221f1f;
    transition: 0.3s ease;  
  
}



.donate:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}



.testimonial{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
  grid-column-start: 1;
  grid-column-end: 4;
    height: 40vh;

    padding: 3rem;
    grid-gap: 1.5rem;   
 
  
}



#section1{
      border: 1px solid black;
}

.testimonialtitle{
    display: flex;
    justify-content: center;
    align-items: center;
     color: rgb(51, 56, 65);
  font-size: 1.54rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

/* //section 1 */
.sec1{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color: rgb(247, 226, 230);
  gap: 1rem;
}
.imagetestimonial1{
    font-size: 3rem;
}

.sec1title{
    font-size: 2rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(126, 68, 78);
}

.sec1para{
    font-family: sans-serif;
    font-weight: 600;
}



/* //section 2*/
.sec2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(185, 233, 191);
}
.imagetestimonial2{
    font-size: 3rem;
}

.sec2para{  
    font-family: sans-serif;
font-weight: 600;
}
.sec2title{
    font-size: 2rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(76, 110, 52);
}


/* section 3 */


.sec3{
     display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 1rem;
    background-color: rgb(224, 179, 224);
}

.imagetestimonial3{
    font-size: 3rem;
}


.sec3para{  
   font-family: sans-serif;
font-weight: 600;
}
.sec3title{
    font-size: 2rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(99, 45, 99)
}

.sec3para{
    width: 80%;
}




.sec4{
         display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 1rem;
    background-color: rgb(240, 168, 179);
}

.imagetestimonial4{
    font-size: 3rem;
}




.sec4para{  
    font-family: sans-serif;
font-weight: 600;
}
.sec4title{
    font-size: 2rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(180, 112, 123);
}

#section1{
    border-radius: 10px ;
    transition: 0.5s;
}

#section1:hover{
 transform: scale(0.900);
}



        /* partners section */
        .partnersectiontitle{
            display: flex;
            justify-content: center;
               color: rgb(51, 56, 65);
            font-size: 1.54rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

.partnersection{
    padding: 1rem;
    margin:1.5em auto;
    width: 100%;
    /* border: 5px solid red; */
    display: flex;
    overflow-x: auto;
   
}

.partnersection::-webkit-scrollbar{
    display: none;
}
.allpartners{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    animation: spin 5s infinite linear;
    padding-right: 2.5em;
}

.cards{
 flex: 0 0 8em;
    height: 5em;
    padding: 1em;
    /* border: 1px solid black; */
    /* background-color: cadetblue; */
    font-size: 3rem;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    transition: 0.5s;
}

.cards:hover{
    /* background-color: rgb(218, 219, 219); */
    transform: scale(1.1);
    /* background-color: rgb(188, 201, 243); */
   box-shadow: 4px 3px 8px rgb(14, 12, 15);
}

@keyframes spin {
    from { translate: 0;}
    to { translate: -100%;}
}


#partner1{
    background-size: 8.8rem;
    background-image: url(image1.png);
    background-position: center;
    background-repeat: no-repeat;
   
}

#partner2{
    background-size: 8.8rem;
    background-image: url(image2.png);
    background-position: center;
    background-repeat: no-repeat;
   
}


#partner3{
    background-size: 8.8rem;
    background-image: url(image3.png);
    background-position: center;
    background-repeat: no-repeat;
   
}


#partner4{
    background-size: 8.8rem;
    background-image: url(image4.png);
    background-position: center;
    background-repeat: no-repeat;
   
}

#partner5{
    background-size: 8.8rem;
    background-image: url(image5.png);
    background-position: center;
    background-repeat: no-repeat;
   
}

#partner6{
    background-size: 8.8rem;
    background-image: url(image7.png);
    background-position: center;
    background-repeat: no-repeat;
   
}


/* BEST NGOS */

.bestngotitle{
    display: flex;
    justify-content: center;
    font-size: 1.54rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(65, 66, 68);
}

.bestngoscontainer{
    display: flex;
    justify-content: center;
    align-items: center;

}

.bestngos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem;
   row-gap: 2rem;
   column-gap: 8rem;
}

.ngo{
    border: 2.5px solid black;
    height: 65vh;
    width: 23vw;
    border-radius: 8px;
}

/* ngo 1 */


#ngo1{
  padding: 0.3rem;
}

.ngo1image{
 
   height: 50%;
   background-image: url(ngo1.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  border-radius: 5px;
}

.ngo1name{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    font-size:20px ;
    word-spacing:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ngo1description{
    margin-top: 0.3rem;
    padding: 0.2rem;
    /* border: 1px solid black; */
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ngoknowbutton{
    margin-top: 0.9rem;
}
.knowbutton{
    border: 1.5px solid rgb(85, 85, 62);
    padding: 0.6rem 0.8rem;    
    border-radius: 0.5rem;
    font-weight: 500;
    color: rgb(46, 4, 143);
    transition: 0.2s ease-out;
    font-size: 0.8rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.knowbutton:hover{
    background-color: hsl(244, 34%, 41%);
    color: rgb(255, 255, 255);
}


/* ngo2 */


#ngo2{
  padding: 0.3rem;
}


.ngo2image{
  
   height: 50%;
   background-image: url(ngo2.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  border-radius: 5px;
}


.ngo2name{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    font-size:20px ;
    word-spacing:10px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
}


.ngo2description{
    margin-top: 0.3rem;
    padding: 0.2rem;
    /* border: 1px solid black; */
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.ngoknowbutton{
    margin-top: 0.9rem;
}
.knowbutton{
    border: 1.5px solid rgb(14, 14, 13);
    padding: 0.6rem 0.8rem;    
    border-radius: 0.5rem;
    font-weight: 500;
    color: rgb(46, 4, 143);
    transition: 0.2s ease-out;
    font-size: 0.8rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.knowbutton:hover{
    background-color: hsl(244, 34%, 41%);
    color: rgb(255, 255, 255);
}


/* ngo3 */


#ngo3{
  padding: 0.3rem;
}




.ngo3image{
   border: 1px solid rgb(0, 0, 0);
   height: 50%;
   background-image: url(ngo3.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  border-radius: 5px;
}




.ngo3name{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    font-size:20px ;
    word-spacing:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
}




.ngo3description{
    margin-top: 0.3rem;
    padding: 0.2rem;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.ngoknowbutton{
    margin-top: 0.9rem;
}
.knowbutton{
    border: 1.5px solid rgb(14, 14, 13);
    padding: 0.6rem 0.8rem;    
    border-radius: 0.5rem;
    font-weight: 500;
    color: rgb(46, 4, 143);
    transition: 0.2s ease-out;
    font-size: 0.8rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.knowbutton:hover{
    background-color: hsl(244, 34%, 41%);
    color: rgb(255, 255, 255);
}


/* ngo 4 */

#ngo4{
  padding: 0.3rem;
}


.ngo4image{
   height: 50%;
   background-image: url(ngo4.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  border-radius: 5px;
}
.ngo4name{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    font-size:20px ;
    word-spacing:10px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
}

.ngo4description{
    margin-top: 0.3rem;
    padding: 0.2rem;
    /* border: 1px solid black; */
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.ngoknowbutton{
    margin-top: 0.9rem;
}
.knowbutton{
    border: 1.5px solid rgb(14, 14, 13);
    padding: 0.6rem 0.8rem;    
    border-radius: 0.5rem;
    font-weight: 500;
    color: rgb(46, 4, 143);
    transition: 0.2s ease-out;
    font-size: 0.8rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.knowbutton:hover{
    background-color: hsl(244, 34%, 41%);
    color: rgb(255, 255, 255);
}


/* ngo 5 */

#ngo5{
  padding: 0.3rem;
}

.ngo5image{
   height: 50%;
   background-image: url(ngo5.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  border-radius: 5px;
}
.ngo5name{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    font-size:20px ;
    word-spacing:10px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
}


.ngo5description{
    margin-top: 0.3rem;
    padding: 0.2rem;

    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.ngoknowbutton{
    margin-top: 0.9rem;
}
.knowbutton{
    border: 1.5px solid rgb(14, 14, 13);
    padding: 0.6rem 0.8rem;    
    border-radius: 0.5rem;
    font-weight: 500;
    color: rgb(46, 4, 143);
    transition: 0.2s ease-out;
    font-size: 0.8rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.knowbutton:hover{
    background-color: hsl(244, 34%, 41%);
    color: rgb(255, 255, 255);
}


/* ngo 6 */

#ngo6{
  padding: 0.3rem;
}


.ngo6image{
   height: 50%;
   background-image: url(ngo6.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  border-radius: 5px;
}
.ngo6name{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    font-size:20px ;
    word-spacing:10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
}


.ngo6description{
    margin-top: 0.3rem;
    padding: 0.2rem;
    /* border: 1px solid black; */
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.ngoknowbutton{
    margin-top: 0.9rem;
}
.knowbutton{
    border: 1.5px solid rgb(14, 14, 13);
    padding: 0.6rem 0.8rem;    
    border-radius: 0.5rem;
    font-weight: 500;
    color: rgb(46, 4, 143);
    transition: 0.2s ease-out;
    font-size: 0.8rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.knowbutton:hover{
    background-color: hsl(244, 34%, 41%);
    color: rgb(255, 255, 255);
}